@import url('https://fonts.googleapis.com/css2?family=Michroma&Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root{
    --borda:1px solid red;
}



/* gerais */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    min-height: 100%;
    background-color:black;
    scroll-behavior: smooth;
}

body{
    display: none;
}


/* parte do header */
header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid white;
    font-family: 'Michroma';
}

header .containerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 15vh;
}

.containerHeader .logoNav{
    height: 100%;
}

.containerHeader .logoNav a img{
    display: flex;
    height: 100%;
}

header nav ul{
    display: flex;
    gap: 5vh;


}

header nav ul li{
    font-weight: 100;
    position: relative;
    padding-bottom: 7px;
    list-style-type: none;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    
}


.opcoesNav::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) ;
    background-color: rgb(255, 217, 0);
    /* border: 5px solid white; */
    width: 0%;
    height: 1px;
    transition: width 0.3s ease-out;
}

.opcoesNav:hover::after{
    width: 100%;
}

.opcoesNav:active{
    background-color: rgba(155, 155, 155, 0.418);
}

header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 0 10px;
}

.ferramentasNav{
    display: flex;
    gap: 15px;
    font-size: 2.8vh;
    color: white;
    background:none;
}

.ferramentasNav i:hover{
    cursor: pointer;
}



/* codigo da secao apresentação */
#secaoApresentacao{
    width: 100%;
    height: 660px;
    background-image: url(../img/bc-secaoApresenracao.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}

#secaoApresentacao::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(to bottom,transparent,rgba(0, 0, 0, 0.247),rgb(0, 0, 0));
    z-index: 1;
}

.containerApresentacao{
    width: 85%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
}

.temaApresentacao{
    color: white;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    flex-direction: column;
}

.corpoApresentacao{
    display: flex;
    flex-direction: column;
    font-family:'Montserrat';
    gap: 20px;
}

.corpoApresentacao h1{
    font-size: 8vh;
}

.linhaAmarela{
    width: 50%;
    height: 2px;
    background-color:rgb(255, 217, 0);
}

.corpoApresentacao h4{
    font-size: 2.5vh;
    font-weight: 300;
}

.corpoApresentacao button{
    padding: 10px 8px;
    width: 180px;
    border: 1px solid rgb(255, 217, 0);
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat';
    transition: transform 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.corpoApresentacao button:hover{
    cursor: pointer;
    transform: scale(1.1);
    border: 1px solid white;
    color: rgb(255, 217, 0);
}



/* codigo da secao da contextualização */
#secaoContextualizacao{
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerContextualizacao{
    width: 90%;
    height: 90%;  
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
}

.containerContextualizacao h2{
    font-size: 25px;
    font-family: 'Michroma';
    position: relative;
    padding: 14px 0px 20px 0px;
    /* border: 1px solid white; */
}

.containerContextualizacao h2::after, .containerContextualizacao h2::before{
    content: '';
    position: absolute;
    width: 200px;
}

.containerContextualizacao h2::after{
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    border-bottom: 3px solid rgb(255, 217, 0);
}

.containerContextualizacao h2::before{
    top: 0;
    left: 50%;
    width: 100px !important;
    transform: translateX(-50%);
    border-top: 3px solid rgb(255, 217, 0);
}

.containerContextualizacao article{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    border: var(--borda);
   
}

.corpoContextualizacao{
    border: var(--borda);
    width: 85%;
    height: 350px;
}

.cardContextualizacao{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px 20px;
    font-family: 'Montserrat';
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 25px;
    transition: transform 0.3s ease;
    border: var(--borda);
}

.cardContextualizacao::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.144),rgba(0, 0, 0, 0.836));
    z-index: 1;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.cardContextualizacao h4{
    font-size: 20px;
}

.cardContextualizacao span{
    font-size:13px;
}

#cardContextualizao1{
    background-image: url(../img/bc-cardContex1.jpg);
}

#cardContextualizao2{
    background-image: url(../img/bc-cardContex2.jpg);
}

#cardContextualizao3{
    background-image: url(../img/bc-cardContex3.jpg);
}

#cardContextualizao4{
    background-image: url(../img/bc-cardContex4.jpg);
    background-position: 240px !important;
}

#cardContextualizao5{
    background-image: url(../img/bc-cardContex5.jpg);
    background-position: 250px !important;
}

.cardContextualizacao:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.cardContextualizacao:hover::before{
    background-image: none;
    background-color: rgba(128, 128, 128, 0.342);
}

.dadosContextualizacao{
    display: flex;
    position: absolute;
    z-index: 2;
    flex-direction: column;

}


/* carrosel */

.swiper{
    border: var(--borda);
    height: 100%;
}

.swiper-wrapper{
    border: var(--borda);
    height: fit-content;
}

.swiper-slide{
    height: fit-content;
    width: fit-content;
    border: var(--borda);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide div{
    color: white;
}

.swiper-pagination{
    border: var(--borda);
}

.swiper-button-prev, .swiper-button-next{
    color: white !important;
    font-weight: 999;
    background-color: rgba(128, 128, 128, 0.356);
    border-radius: 10px;

}
 
